################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Gratia/FileContentIndex/20697cba-e3ed-4458-998d-8af87c8f2222.vsidx
