{% extends 'layout.html' %} {% block content %}

<div class="container about">
    <ul class="bubble">
        <li>
            <h1>Gratia Project</h1>
        </li>
        <li>
            <p>Gratia started as a high school project, that proved its potential after its first implementation. Gratia is designed and coded by Kai Chen, and its first tester was James Laurence Rogers.</p>
        </li>
        <li>
            <p>Gratia is a website dedicated to helping impoverished and homeless communities all around the world. Designed for both the people in need and the people who have, Gratia is a friendly website that includes all communities around the world.</p>
        </li>
        <li>
            <p>The idea of Gratia first arose as a high school project, in which Kai was graded an A. The success of the project showed during its first implementation in Sydney, where over 200 people signed up during the first week. The success was further highlighted by statistics which showed over 1340 active members in the first month.</p>
        </li>
        <li>
            <p>Since 2025, the website has helped over 100,000 people in 80 countries around the world, with more countries planned to join.</p>
        </li>
    </ul>
</div>

{% endblock %}