{% extends 'layout.html' %} {% block content %}

<div class="container contact">
    <ul class="bubble">
        <li>
            <h1>Kai Chen</h1>
        </li>
        <li>
            <h2>Due to privacy concerns, the following information has be redacted.</h2>
        </li>
        <li>
            <h3>Phone Number</h3>
        </li>
        <li>
            <p>+61 xxx xxx xxx</p>
        </li>
        <li>
            <h3>Email</h3>
        </li>
        <li>
            <p>xxxxxxxxx@xxxxxxxxxxxxxxxxx.au</p>
        </li>
    </ul>
</div>

{% endblock %}