<div class="grid">
    <div id="pages">
        <h3>Other Pages</h3>
        <ul>
            <li>
                <a>Home Page</a>
            </li>
            <li>
                <a>Profile</a>
            </li>
            <li>
                <a>Donate</a>
            </li>
            <li>
                <a href="contact_us">Contact</a>
            </li>
        </ul>
    </div>
    <div id="info">
        <h3>More Information</h3>
        <ul>
            <li>
                <a href="about_us">About Us</a>
            </li>
            <li>
                <a>The Community</a>
            </li>
            <li>
                <a>The Donation Process</a>
            </li>
        </ul>
    </div>
    <div>
        <ul id="legals">
            <li>
                <a>Terms and Conditions</a>
            </li>
            <li>
                <a>Privacy Statement</a>
            </li>
        </ul>
        <ul id="media">
            <li>
                <a href="https://classroom.google.com/u/0/c/NzQ4NTc4MDcxNjY3/a/Nzg5OTQ1NTYyMTI0/details">
                    <img src="\static\images\WebsiteImages\LinkIcons\GCLogo.jpg" alt="Link to GC">
                </a>
                <a href="https://github.com/ape3454/Gratia">
                    <img src="\static\images\WebsiteImages\LinkIcons\GithubLogo.png" alt="Link to Github">
                </a>
            </li>
        </ul>
    </div>
</div>