<nav>
    <ul class="topnav">
        <li><a href="contact_us" class="button bubble" id="1">Contact Us</a></li>
        <li><a href="about_us" class="button bubble" id="2">About Us</a></li>
    </ul>
    <ul>
        <li><a href="home" style="border:none; background: none;" id="5"><h1>Gratia</h1></a></li>
    </ul>
    <ul class="topnav">
        <li><a href="donate" class="button bubble" id="3">Donate</a></li>
        <li><a href="signin" class="button bubble" id="4">Sign In</a></li>
    </ul>
</nav>